body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 210, 222);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgb(158, 242, 199);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(22, 212, 149);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(34, 156, 116);
}
.card{
    background: linear-gradient(180deg, rgb(224, 99, 147), rgb(234, 189, 104));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(37, 26, 26);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}
.humidityDİspaly{
    font-weight: bold;
    margin-bottom: bold;
    font-size: 2rem;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
}