body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(179, 206, 188);
}

h1{
    color: rgb(35, 40, 38);
}

form{
    background-color: rgb(225, 236, 230);
    text-align: center;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(163, 170, 166);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(41, 169, 198);
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(26, 151, 179);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}


